* {
    box-sizing: border-box;
}
html{
    background-color: gray;
}
.title{
    color: white;
    background-color: pink;
}
.p1{
    color: yellow;
}
.p2{
    color: yellowgreen;
}
.p3{
    color:lightblue;
}
.border1{
    width:1350px;
    display:block;
    background-color: white;
    padding-bottom: 20px;
    border: 4px solid orange;
}
.white-text{
    color: white;
}